* {
}

button {
    all: unset;
    padding: 0px 8px;
    margin: 10px 0px;
    min-height: 0;
    min-width: 0;
    background: transparent;
    transition-duration: 0ms;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button:hover {
    filter: brightness(120%);
    transition-duration: 200ms;
}

label {
    font-weight: 600;
    font-size: 16px;
}

.workspace-box {
    border-radius: 90px;
    padding: 0 8px;
    border: 1px solid transparent;
}

.workspace-box:hover {
    background-color: @borders;
    border: 1px solid @borders;
    transition-duration: 200ms;
    box-shadow: inset 0 0 5px -3px @borders;
}

.workspace {
    border-radius: 90px;
    opacity: 0.2;
    background-color: @theme_fg_color;
    margin: 12px 3px;
    padding: 0 6px;
}

.workspace:hover {
    opacity: 0.4;
    transition-duration: 200ms;
}

.workspace label {
    font-size: 0px;
}

.open-workspace {
    background-color: @theme_selected_bg_color;
    border-radius: 90px;
    opacity: 0.5;
    margin: 12px 3px;
    padding: 0 6px;
}

.open-workspace label {
    font-size: 0px;
}

.active-workspace {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    padding: 0 20px;
    opacity: 1;
    margin: 10px 3px;
}

.active-workspace:hover {
    background-color: @theme_selected_bg_color;
}

.window {
    padding: 3px;
    background-color: #181616;
    background-color: rgba(24, 22, 22, 0.5);
    border-bottom: 1px solid @borders;
}

.widget {
    border-radius: 90px;
    padding: 8px 15px;
    border: 1px solid transparent;
}

.widget:hover {
    background-color: @borders;
    border: 1px solid @borders;
    box-shadow: inset 0 0 5px -3px @borders;
    transition-duration: 200ms;
}

#media-label-widget {
    line-height: 10px;
}

.volume-window {
    border-radius: 90px;
    margin-top: 20px;
    /*border: 2px solid @borders; */
    border: solid 1px @borders;
    background-color: rgba(24, 22, 22, 0.5);
}
.volume-popup {
    border-radius: 13px;
    padding: 10px 15px;
}

.volume-popup-level-bar {
    margin: 6px 0px;
}

levelbar block {
    border-radius: 90px;
}

.volume-overboost {
    color: red;
}

.media-window {
    margin: 10px;
    border-radius: 20px;
    padding: 10px 20px 10px 10px;
    box-shadow: 0px 0px 8px -2px @SLATE_700;
    background-color: rgba(24, 22, 22, 0.35);
    border: solid 1px @borders;
}

.media-popup .title-label {
    font-size: 20px;
}

.media-popup .album-label {
    font-size: 16px;
    opacity: 0.8;
    margin-top: 5px;
}

.media-popup .artist-label {
    font-size: 14px;
    opacity: 0.8;
}

.media-popup .cover-frame {
    border-radius: 12px;
    box-shadow: 0px 0px 8px -2px @SLATE_700;
    background-color: rgba(24, 22, 22, 0.35);
    border: solid 1px @borders;
    opacity: 0.8;
}

.popup-window {
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 8px -2px @SLATE_700;
    background-color: rgba(24, 22, 22, 0.35);
    border: solid 1px @borders;
}
.popup-window calendar {
    border: none;
    padding: 0 15px 15px 15px;
    border-radius: 20px;
    background-color: @borders;
}

.popup-window calendar grid label {
    border-radius: 90px;
    margin: 2px;
}
.popup-window calendar grid label:hover {
    background-color: @borders;
}

.popup-window calendar header {
    border: none;
}

.popup-window calendar header button {
    border-radius: 90px;
    padding: 10px;
}

.popup-window .ctrlcenter {
}

.popup-window .ctrlcenter .mediaBox {
    background-color: @borders;
    border: solid 1px @borders;
    box-shadow: inset 0 0 10px -3px @borders;
    border-radius: 20px;
    padding: 10px;
}

.popup-window .ctrlcenter .mediaBox picture {
    border-radius: 20px;
    border: solid 1px @borders;
    opacity: 0.9;
    box-shadow: 0px 0px 8px -2px @SLATE_700;
}

.popup-window .ctrlcenter .mediaBox .title-label {
    font-size: 22px;
    font-weight: 600;
}

.popup-window .ctrlcenter .mediaBox .album-label {
    font-size: 16px;
    opacity: 0.8;
    line-height: 10px;
}

.popup-window .ctrlcenter .mediaBox .artist-label {
    font-size: 14px;
    opacity: 0.8;
    line-height: 10px;
    margin-bottom: 5px;
}

.popup-window .ctrlcenter .mediaBox .media-controls {
    margin: 0 65px;
    padding: 4px 4px;
    border-radius: 90px;
    border: solid 1px transparent;
    transition-duration: 200ms;
}

.popup-window .ctrlcenter .mediaBox .media-controls:hover {
    background-color: @borders;
    box-shadow: 0px 0px 8px -2px @SLATE_700;
    border: solid 1px @borders;
    box-shadow: inset 0 0 10px -3px @borders;
}

.popup-window .ctrlcenter .mediaBox .media-controls button {
    border-radius: 90px;
    margin: 0;
    padding: 8px;
    border: solid 1px transparent;
}

.popup-window .ctrlcenter .mediaBox .media-controls button:hover {
    background-color: @borders;
    border: solid 1px @borders;
    box-shadow: 0px 0px 8px -2px @SLATE_700;
}

#media-progress {
}

.popup-window .ctrlcenter .volume-box {
    padding: 0 10px 0 20px;
}
.popup-window .ctrlcenter .icon-button {
    padding: 12px;
    background-color: @borders;
    border: solid 1px @borders;
    border-radius: 90px;
}
.popup-window .ctrlcenter .icon-button:hover {
    opacity: 0.8;
}

.popup-window .ctrlcenter .power-box:hover {
    background-color: @borders;
    border: solid 1px @borders;
    border-radius: 90px;
}

.popup-window .ctrlcenter .power-box:hover > .icon-button {
    background-color: @error_color;
    color: @theme_selected_fg_color;
    border: solid 1px @borders;
}

.popup-window .ctrlcenter .power-box:hover .icon-button {
    margin: 4px;
    padding: 8px;
    transition-duration: 200ms;
}

.popup-window .ctrlcenter .bottom-rows {
    background-color: @borders;
    border: solid 1px @borders;
    box-shadow: inset 0 0 10px -3px @borders;
    border-radius: 20px;
    padding: 10px;
}

.popup-window .ctrlcenter .bottom-rows .overlay .button {
    padding: 8px 10px;
    border-radius: 90px;
    background-color: @borders;
    border: solid 1px @borders;
    transition-duration: 100ms;
}

.popup-window .ctrlcenter .bottom-rows .overlay .button:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border: solid 1px @borders;
}

.popup-window .ctrlcenter .bottom-rows .button label {
    font-size: 14px;
}

.popup-window .ctrlcenter .bottom-rows .overlay {
    border-radius: 90px;
}

.popup-window .ctrlcenter .bottom-rows .overlay button {
    border-radius: 90px;
    padding: 0;
    margin-right: 10px;
    color: @theme_base_fg_color;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    transition-duration: 100ms;
}

.popup-window .ctrlcenter .bottom-rows .overlay .visible {
    opacity: 0.5;
}

.popup-window .ctrlcenter .wifi-devices-scroll {
    background-color: @borders;
    border: solid 1px @borders;
    border-radius: 20px;
}

.popup-window .ctrlcenter .wifi-devices-scroll .wifi-devices-scroll-box {
    padding: 10px 10px;
}

.popup-window
    .ctrlcenter
    .wifi-devices-scroll
    .wifi-devices-scroll-box
    box
    box {
    background-color: @borders;
    border: solid 1px @borders;
    border-radius: 15px;
    padding: 5px 10px;
}

.popup-window
    .ctrlcenter
    .wifi-devices-scroll
    .wifi-devices-scroll-box
    box
    box:hover {
    filter: brightness(120%);
}

.popup-window
    .ctrlcenter
    .wifi-devices-scroll
    .wifi-devices-scroll-box
    box
    box
    box {
    background-color: @transparent;
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.popup-window
    .ctrlcenter
    .wifi-devices-scroll
    .wifi-devices-scroll-box
    .active-network {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border: solid 1px @borders;
    border-radius: 15px;
}

.popup-window .ctrlcenter .device-drop {
    background-color: @borders;
    border: solid 1px @borders;
    border-radius: 20px;
}

.popup-window .ctrlcenter .app-mixer {
    background-color: @borders;
    border: solid 1px @borders;
    border-radius: 20px;
    padding: 10px;
}

.popup-window .ctrlcenter .bt-box button {
    background-color: @borders;
    border: solid 1px @borders;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0;
}

.popup-window .ctrlcenter .bt-box list {
    background-color: @transparent;
    padding: 10px;
    border-radius: 20px;
}

.popup-window .ctrlcenter .bt-box list row {
    all: unset;
    margin-bottom: 10px;
    border-radius: 20px;
}

.popup-window .ctrlcenter .bt-box list row box {
    all: unset;
    padding: 5px 5px 5px 10px;
    border-radius: 20px;
    background-color: @borders;
    border: solid 1px @borders;
}

.popup-window .ctrlcenter .bt-box list row box:hover {
    background-color: @borders;
    border: solid 1px @borders;
}

.popup-window .ctrlcenter .bt-box list .connected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
.popup-window .ctrlcenter .bt-box list .connected:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
.popup-window .ctrlcenter .bt-box list row box box {
    all: unset;
}
.popup-window .ctrlcenter .bt-box list row box box:hover {
    all: unset;
}

.popup-window .ctrlcenter .bt-box .scroller box {
}

.popup-window .ctrlcenter .bt-box .scroller {
    border-radius: 20px;
    background-color: @borders;
    border: solid 1px @borders;
}
